@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px (1360)
@include media-breakpoint-down(lg) {

	.why-ecopure-section {

		.four-columns-list .fcl-item {
			h5 {
				min-height: 46px;
			}
		}
		
	}

}

// ≥992px
@include media-breakpoint-down(md) {


	.why-ecopure-section {

		.four-columns-list .fcl-item {
			h5 {
				min-height: 69px;
			}
		}
		
	}

	
}

// ≥768px
@include media-breakpoint-down(sm) {

	.why-ecopure-section {

		.four-columns-list .fcl-item {
			&:not(:last-child) {
				margin-bottom: 55px;
			}
			
			h5 {
				min-height: inherit;
			}
		}
		
	}

}

// ≥576px
@include media-breakpoint-down(xs) {

	
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px (1360)
@include media-breakpoint-up(xl) {

	.why-ecopure-section {

		.four-columns-list .fcl-item:nth-child(1) {
			h5 {
				width: 294px;
				margin-left: -8px;
			}
		}

	}

}
