@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600,700');

$font-s: 'Signika', sans-serif;;

$trans: all .25s ease;

$green_hover: #8DC63F;

@media (max-width: 1400px){

  .where_hiring_main_screen {
    background: url("../img/main_screen_where_bg_1366.jpg") no-repeat center top 170px;
    background-size: contain;
  }

  .main_screen .arrow_down {
    margin-top: 30px;
  }
}

// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) {

  .where_hiring_main_screen {
    background-size: cover;
    background: url("../img/main_screen_where_bg.jpg") no-repeat center;

  }

  .top_header ul li {
    margin-right: 40px;
  }

  .top_header ul a {
    font-size: 18px;
  }

  .advantages {
    position: relative;
  }

  .advantages .col_right {
    position: absolute;
    left: 100px;
    top: 40px;
  }

  .advantages .col_right ul {
    top: auto;
    left: auto;
  }

  .advantages .col_left {
    top: 170px;
  }

  .customers .customer_item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

                              //WHERE HIRING PAGE

  .bottom_header li a {
    padding-left: 20px;
    padding-right: 20px;
  }

  .item_kitchen .methodology_desc {
    left: 244px;
  }

  .item_bathroom .methodology_desc {
    right: 0;
  }

  .item_livingroom .methodology_desc {
    left: 0;
  }

  .item_bedroom .methodology_desc {
    right: 210px;
  }

  .item_workingroom .methodology_desc {
    right: 100px;
  }

  .item_services .methodology_desc {
    left: 100px;
  }

  .where_hiring_main_screen .text_center h1 {
    margin-bottom: 36px;
  }

  .where_hiring_main_screen .text_center h1 {
    margin-bottom: 40px;
  }

  .main_screen .arrow_down {
    margin-top: 10px;
  }

  .main_screen .text_center {
    padding-top: 70px;
  }

  .where_hiring_main_screen {
    padding-bottom: 170px;
  }

                                //HOW IT WORKS PAGE
  .dashed_bottom {
    height: 280px;
  }

  .how_it_works_page .left_item {
    margin-right: auto;
    margin-bottom: 30px;
  }

  .how_it_works_page .right_item {
    margin-left: auto;
    margin-bottom: 30px;
  }

  .how_it_works_page .row {
    margin-bottom: 40px;
  }

  .how_it_works_page {
    padding-top: 90px;
  }
}

// Средние девайсы («таблетки», < 992px)
@media (max-width: 991.98px) {

  header {
    display: none;
  }

  header.mobile_header {
    display: block;
    background-color: #fff;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);

    .top_menu_mobile>.container {
      display: flex;
      height: 45px;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
    }

    .header_logo_mobile {
      max-width: 120px;
    }

    .hamburger {
      height: 24px;
      //margin-left: 20px;
      padding: 0;
      outline: none;
    }

    .hamburger-box {
      width: 17px;
      height: 14px;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      height: 2px;
      width: 17px;
    }

    .hamburger--elastic .hamburger-inner::before {
      top: 6px;
    }

    .hamburger--elastic .hamburger-inner::after {
      top: 12px;
    }

    .user_header_mobile {
      position: relative;
      //right: 20px;
      display: block;
      width: 22px;
    }
  }

  .left_show_menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 10000px;
    z-index: 999;
    background-color: rgba(0, 0, 0, .8);
    transition: all .4s ease;

    .white_content {
      position: relative;
      height: 100vh;
      width: 276px;
      margin-right: auto;
      padding-top: 60px;
      padding-left: 18px;
      padding-right: 18px;
      background-color: #fff;

      .left_menu_hide {
        transform: rotate(180deg);
      }

      form {
        margin-top: 20px;
        position: relative;
        top: -1px;

        label {
          display: block;
          margin-bottom: 5px;
          margin-right: 15px;
          font-size: 16px;
          font-weight: 300;
          color: #333;
          text-align: center;
        }

        input[type=text] {
          position: relative;
          right: -5px;
          height: 47px;
          width: 180px;
          padding-left: 23px;
          padding-right: 15px;
          font-size: 16px;
          font-weight: 300;
          color: #666666;
          background-color: #EBEBEB;
          border-radius: 47px 0 0 47px;
          border-right: none !important;
          outline: none !important;
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
          border-left: 1px solid transparent;
          transition: $trans;

          &:hover {
            border-top: 1px solid #8CC63F;
            border-bottom: 1px solid #8CC63F;
            border-left: 1px solid #8CC63F;
          }


        }

        input[type=submit] {
          position: relative;
          height: 47px;
          line-height: 47px;
          width: 50px;
          top: 3px;
          font-size: 20px;
          font-weight: 400;
          color: #fff;
          background-color: #8CC63F;
          border-radius: 0 47px 47px 0;
          transition: $trans;
          border: none !important;
          outline: none !important;
          cursor: pointer;

          &:hover {
            background-color: darken(#8CC63F, 10%);
          }

        }
      }
    }

    .bottom_mobile_nav {
      margin-top: 30px;

      li {
        margin-bottom: 6px;
      }

      a {
        font-size: 16px;
        border-bottom: 1px solid $green_hover;
        text-decoration: none !important;
      }
    }

    i {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      transition: $trans;

      &:hover {
        opacity: 0.7;
      }
    }

    .green_radius_btn {
      margin-left: auto;
      margin-right: auto;
      max-width: 120px;
      height: 40px;
      margin-bottom: 40px;
      border-radius: 40px;
    }

    ul {
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;

      li {
        margin-bottom: 10px;
        text-align: center;
      }

      a {
        font-size: 18px;
        font-weight: 400;
        color: #333;
        transition: $trans;

        &:hover {
          color: $green_hover;
        }
      }
    }
  }



  .main_screen {
    padding-top: 45px;
  }

  .main_screen .text_center h1 {
    font-size: 42px;
  }

  .main_screen .green_btn_border {
    height: 66px;
    max-width: 260px;
    font-size: 22px;
  }

  .why h2 {
    font-size: 40px;
  }

  .why .why_item {
    margin-left: auto;
    margin-right: auto;
  }

  .how_it_works .col_left {
    display: none;
  }

  .how_it_works .col_right {
    display: none;
  }

  .how_it_works .col_center {
    width: 100%;
  }

  .how_it_works ul {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .top_footer .col_left {
    justify-content: center;
    margin-bottom: 20px;
  }

  .top_footer .col_right {
    justify-content: center;
  }

  .why .why_item {
    margin-bottom: 30px;
  }

  .how_it_works .transparent_btn_border {
    background-color: #88B52D;
    font-size: 18px;
    border: none;
    color: #fff;

    &:hover {
      background-color: #8DC63F;
    }
  }

                            //WHERE HIRING PAGE
  .about h2 {
    text-align: center;
  }

  .about .col_left {
    margin-bottom: 40px;
    padding-right: 15px;
  }

  .love h2 {
    text-align: center;
  }

  .process ul {
    flex-direction: column;

    li {
      margin-bottom: 40px;
    }
  }

  .methodology ul.methodology_item {
    flex-direction: column;
    margin-bottom: 0;
    text-align: center;
  }

  .methodology ul.methodology_item .img_methodology {
    margin-left: auto;
    margin-right: auto;
  }

  .methodology ul.methodology_item > li {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .methodology_desc {
    position: relative;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    margin-left: auto;
    margin-right: auto;
  }

  .methodology_desc > ul li {
    text-align: left;
  }

  .dashed_bottom {
    display: none;
  }

  .step_wrap {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {

  .main_screen {
    padding-bottom: 130px;
  }

  .main_screen .arrow {
    display: none;
  }

  .main_screen .arrow_down {
    bottom: -160px;
  }

  .how_it_works .col_center {
    padding-top: 140px;
    padding-bottom: 90px;
    padding-left: 46px;
  }

  .advantages .col_left {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-left: 3px solid #88B52D;
  }

  .advantages .advantages_desc_wrap {
    padding-left: 30px;
    text-align: center;
  }

  .advantages .col_left .green_radius_btn {
    margin-left: auto;
    margin-right: auto;
  }

  .advantages .col_right {
    left: 50%;
    margin-left: -145px;
  }

  .faq .faq_item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
  }

  .bottom_footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .bottom_footer .col_left {
    margin-bottom: 15px;
    justify-content: center;
  }

  .bottom_footer .col_copy {
    justify-content: center;
  }

                              //WHERE HIRING PAGE

  .where_hiring_main_screen h5 {
    font-size: 30px;
  }

  .where_hiring_main_screen .blue_radius_btn_border {
    max-width: 230px;
    font-size: 20px;
  }

  .where_hiring_main_screen .green_radius_btn_border {
    max-width: 230px;
    font-size: 20px;
  }

  .main_screen .arrow_down {
    bottom: -94px;
  }

  .about h2 {
    font-size: 40px;
  }

  .love h2 {
    font-size: 40px;
  }

  .process {
    padding-bottom: 30px;
  }

  .process h2 {
    font-size: 40px;
    text-align: center;
  }

  .methodology {
    padding-bottom: 30px;
  }

  .methodology h2 {
    font-size: 40px;
    text-align: center;
  }

  .methodology h4 {
    font-size: 24px;
    text-align: center;
  }

  .methodology p {
    text-align: center;
  }

  .flexible_plans h2 {
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
  }

  .flexible_plans h3 {
    margin-bottom: 50px;
    font-size: 24px;
  }

  .flexible_plans {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  .flexible_plans .green_radius_btn {
    font-size: 20px;
  }

  .plans_wrap .green_radius_btn {
    font-size: 20px;
  }


                          //HOW IT WORK PAGE
  .how_it_works_page h2 {
    font-size: 40px;
  }

  .how_it_works_page .desc_wrap h4 {
    font-size: 30px;
  }

  .benefits h2 {
    font-size: 40px;
  }

  .benefits_wrap h4 {
    font-size: 30px;
  }
}

// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) {

  .main_screen .text_center h1 {
    font-size: 32px;
  }

  .main_screen .green_btn_border {
    height: 58px;
    font-size: 20px;
  }

  .main_screen .green_btn_border {
    max-width: 220px;
  }

  .why h2 {
    font-size: 30px;
  }

  .how_it_works .blue_circle p {
    font-size: 24px;
  }

  .how_it_works h2 {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .how_it_works ul li {
    position: relative;
    font-size: 20px;
    text-align: center;
    padding-left: 0;
    padding-top: 30px;
  }

  .how_it_works ul li:before {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -4px;
    margin-right: 0;
  }

  .how_it_works ul {
    margin-bottom: 50px;
  }

  .how_it_works .col_centr {
    margin-bottom: 70px;
  }

  .live_it {
    padding-top: 60px;
    font-size: 30px;
  }

  .live_it h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }

  .live_it a {
    display: block;
    max-width: 290px;
    margin-right: auto;
    margin-left: auto;
  }

  .advantages .col_left {
    width: 95%;
    padding-top: 38px;
  }

  .advantages .col_left h2 {
    font-size: 28px;
  }

  .advantages .col_left p {
    font-size: 16px;
  }

  .customers {
    padding-bottom: 40px;
  }

  .customers h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }

  .faq {
    padding-bottom: 40px;
  }

  .faq h2 {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .top_footer ul {
    flex-direction: column;
  }

  .top_footer ul li {
    margin-bottom: 5px;
  }

  .top_footer ul span {
    display: none;
  }

  .bottom_footer .col_copy {
    text-align: center;
  }

  .why .why_item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;

    img {
      height: 80px;
      width: 80px;
      margin-right: 20px;
    }
    
    .desc {
      text-align: left;
    }
  }

  .why .why_item p {
    margin-left: 0;
  }

  .why .why_item h5 {
    font-size: 20px;
  }

  .why .why_item p {
    font-size: 16px;
  }

  .customers .stars img {
    margin-left: auto;
    margin-right: auto;
  }

  .customers .customer_item h3 {
    text-align: center;
  }

  .customers .customer_item p {
    text-align: center;
  }

  .customers .customer_item span {
    display: block;
    text-align: center;
  }

  .mobile_slider_customers {
    position: relative;

    .prev_arrow {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 63px;
      left: 4%;
      //margin-top: -20px;
      height: 40px;
      width: 40px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 4px 20px rgba(84, 110, 122, 0.2);
      cursor: pointer;
      z-index: 10;
      transition: $trans;

      &:hover {
        i {
          color: $green_hover;
        }
      }
    }

    .next_arrow {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 63px;
      right: 2%;
      //margin-top: -20px;
      height: 40px;
      width: 40px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 4px 20px rgba(84, 110, 122, 0.2);
      cursor: pointer;
      z-index: 10;
      transition: $trans;

      &:hover {
        i {
          color: $green_hover;
        }
      }
    }
  }

                                  //WHERE HIRING PAGE

  .where_hiring_main_screen .buttons_wrap {
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }

  .where_hiring_main_screen h5 {
    font-size: 20px;
    text-align: center;
  }

  .where_hiring_main_screen .blue_radius_btn_border {
    height: 58px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .where_hiring_main_screen .green_radius_btn_border {
    height: 58px;
    font-size: 18px;
  }

  .about h2 {
    font-size: 30px;
  }

  .about p {
    text-align: center;
  }

  .plans_wrap h5 {
    font-size: 24px;
  }

  .plans_wrap p {
    font-size: 22px;
  }

  .plans_wrap .green_radius_btn {
    font-size: 18px;
  }

  .love h2 {
    font-size: 30px;
  }

  .love p {
    text-align: center;
  }

  .process h2 {
    font-size: 30px;
  }

  .methodology h2 {
    font-size: 30px;
  }

  .methodology h4 {
    font-size: 22px;
  }

  .methodology_desc > ul {
    padding-left: 30px;
  }

  .methodology_desc > ul li span {
    margin-left: 0;
    font-size: 15px;
  }

  .flexible_plans {
    padding-top: 60px;
  }

  .flexible_plans h2 {
    font-size: 30px;
  }

  .flexible_plans h3 {
    padding-top: 20px;
  }

  .flexible_plans .green_radius_btn {
    height: 58px;
    font-size: 18px;
  }

  //HOW IT WORKS PAGE

  .how_it_works_page h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .how_it_works_page .desc_wrap h4 {
    font-size: 24px;
  }

  .benefits {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .benefits h2 {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .benefits_wrap h4 {
    font-size: 24px;
  }
}