@import "vars";
@import "fonts";
@import "libs";

body {
	min-width: 320px;
	position: relative;
	font-size: 18px;
	// line-height: 48px;
	line-height: 1;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;

	margin: 0px;
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5 {
	color: $heading;
}

h1 {
	font-size: 2.667em;	//48px
}

h2 {
	font-size: 2.556em;	//46px
}

h3 {
	font-size: 2.000em;	//36px
}

h4 {
	font-size: 1.444em;	//26px
}

h5 {
	font-size: 1.333em;	//24px
}

.button {
	padding: 16px 40px;	
	font-weight: 400;
	color: #fff;
	background-color: $accent;
	border: 2px solid #fff;
	border-radius: 40px;
	cursor: pointer;

	&.blue {
		background-color: $blue;
	}

	&.primary {
		color: $accent;
		background-color: transparent;
	}

	&.large {
		padding: 27px 100px 25px 100px;
		font-size: 1.444em;
		font-weight: 400;
		border-width: 3px;
	}
}

.link-as-button {
	padding: 16px 40px;	
	font-weight: 400;
	color: #fff;
	background-color: $accent;
	border: 2px solid #fff;
	border-radius: 40px;
	cursor: pointer;

	&:hover {
		color: #fff;
		text-decoration: none;
	}

	&.large {
		padding: 15px 70px 15px 70px;
		font-size: 1.333em;
		font-weight: 400;
		border-width: 3px;
	}

	&.primary-light-green {
		color: $accent-light;
		background-color: transparent;
		border-color: $accent-light;
	}

	&.no-border {
		border: none;
	}
}

.main-nav-link {
	color: $text;
	transition: color 0.3s ease;
	cursor: pointer;

	&:hover {
		color: $accent;
		text-decoration: none;
	}
}


ul > li.nav-dropdown {
	position: relative;

	& > ul.nav-dropdown-menu:not(.mm--open) {
		width: 270px;
		display: none;
		
		position: absolute;
		top: 100%;
		left: 0;
		padding: 0;
		margin: 0;
		background-color: rgba(245, 245, 245, 0.9);

		list-style-type: none;
		overflow: hidden;
		z-index: 1;					

		& > li {
			margin: 0;
			border-left-width: 2px;
			border-left-style: solid;
			border-left-color: transparent;

			& > a {
				padding: 10px !important;
				color: #898989;
				width: 100%;
			}

			&:hover {
				border-left-color: $accent;
				& > a {
					color: $accent;
				}
			}
		}
	}


	&:hover {
		color: $accent;

		& > ul.nav-dropdown-menu:not(.mm--open) {
			display: flex;
			flex-direction: column;
		}
	}
}

.burger-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	svg {
		cursor: pointer;
		fill: $accent;
		height: 27px;
	}
}

#my-menu {
	z-index: 1;
}


header {
	.navigation {
		height: 75px;
		display: flex;
		align-items: center;

		.logo {
			height: 100%;
			display: flex;
			align-items: center;
		}
		
		ul.main-nav {
			// height: 75px;
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;
			list-style-type: none;
			
			li {
				height: 100%;
				display: flex;
				align-items: center;

				.main-nav-link {
					padding: 10px;
				}

				&:not(:last-child) {
					margin-right: 35px;
				}

				ul.nav-dropdown-menu {
					li {
						margin: 0;
					}
				}
			}
		}

		.account-container {
			display: flex;
			align-items: center;

			div.user {
				margin-left: 30px;
				margin-right: 20px;
				color: #939598;
				display: flex;
				align-items: center;

				& > svg {
					margin-right: 10px;
					width: 26px;
					height: 27px;
					fill: #939598;
				}
			}
		}
	}
}


.top-location-line {
	position: relative;
	// height: 58px;
	background-color: $blue;

	.current-location {
		height: 58px;
		display: flex;
		align-items: center;

		span {
			color: #fff;
			font-size: 1.1em;
			font-family: "Signika Light";
		}

		.cur-loc-label {
			margin-right: 10px;
		}

		.cur-loc-info {
			.cur-loc-city {
				text-decoration: underline;
				margin-right: 20px;
			}

			.cur-loc-phone {
				position: relative;
				margin-left: 20px;

				&:before {
					position: absolute;
					content: "";
					top: 0;
					left: -20px;
					width: 15px;
					height: 20px;
					background-image: url("../img/menu_phone.svg");
				}
			}
		}

		.cur-loc-form {
			display: flex;
			align-items: flex-end;
			max-width: 280px;
			
			input {
				width: 100%;
				color: #636363;
				font-family: "TrebuchetMS";
				font-weight: 400;
				font-size: 0.9em;
				padding: 14px 20px;
				background-color: #ebebeb;
				border: none;
				border-top-left-radius: 30px;
				border-bottom-left-radius: 30px;
			}

			button.button {
				border: none;
				background-color: $accent-light;
				padding: 10px 25px 13px 16px;
				border-radius: 0;
				border-top-right-radius: 30px;
				border-bottom-right-radius: 30px;
				font-family: "Signika";
				font-size: 24px;
			}
		}
	}

	.hiring-container {
		position: absolute;
		bottom: -34px;
		left: 50%;
		width: 204px;
		height: 34px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url("../img/Rounded_Rectangle_1.svg");
		transform: translateX(-50%);

		span {
			color: #fff;
			font-size: 0.9em;
			font-weight: 400;
		}
	}
}


.local-menu {
	
	ul.local-nav-list {
		height: 54px;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
		margin-left: -27px;

		li {
			list-style-type: none;
			height: 100%;
			display: flex;
			align-items: center;
			
			a {
				position: relative;
				padding: 5px 27px;

				&:after {
					position: absolute;
					content: "";
					display: block;
					bottom: -13px;
					left: 0;
					height: 2px;
					width: 100%;
					background-color: transparent;
					transition: background-color 0.3s ease;
				}

				&:hover {
					&:after {
						background-color: $accent;
					}
				}
			}

			&:not(:last-child) {
				a {
					border-right: 1px solid #d7d7d7;
				}
			}

			ul.nav-dropdown-menu {
				li {
					a {
						border-right: none;
						&:after {
							content: none;
						}
					}
				}
			}

			
		}
	}

	
}


@import "home";


@import "media";