

<footer>
    <div class="top_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col_left">
                    <nav>
                        <ul>

                                                            <li>
                                    <a href="#">Home</a>
                                    <span>|</span>
                                </li>
                                                            <li>
                                    <a href="#">Services</a>
                                    <span>|</span>
                                </li>
                                                            <li>
                                    <a href="#">EcoPure Advantage</a>
                                    <span>|</span>
                                </li>
                                                            <li>
                                    <a href="#">About Us</a>
                                    <span>|</span>
                                </li>
                                                            <li>
                                    <a href="#">Contact Us</a>
                                    <span>|</span>
                                </li>
                            
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-5 col_right">
                    <div class="footer_social">

                                                    <a href="#"><img src="../../img/icons/facebook.svg"></a>
                                                    <a href="#"><img src="../../img/icons/linkedin.svg"></a>
                                                    <a href="#"><img src="../../img/icons/yelp.svg"></a>
                                                    <a href="#"><img src="../../img/icons/ur.png"></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col_left">
                    <a href="#">Terms</a>
                    <a href="#">Privacy</a>
                </div>
                <div class="col-md-6 col_copy">
                    ©  EcoPure Cleaning Service, Inc. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
