
<!--HEADER-->
<header>
    <div class="top_header">
        <div class="container">
            <div class="row">
                <div class="col-3 col_left">
                    <a href="[object Object]">
                        <img src="../..//img/main_logo.png">
                    </a>
                </div>
                <div class="col-6 col_center">
                
                    
<nav>
    <ul>
        
                            <li>
                    <a href="#how" class="active">How it Works</a>
                </li>
            
        
                            <li>
                    <span>
                        EcoPure Advantage
                    </span>
                    <ul class="sub-menu">
                                                    <li>
                                <a href="#" class="">Why EcoPure Home?</a>
                            </li>
                                                    <li>
                                <a href="#" class="">Technology</a>
                            </li>
                                                    <li>
                                <a href="#" class="">EcoPure vs. Traditional Cleaning</a>
                            </li>
                                                    <li>
                                <a href="#" class="">Aromatherapy</a>
                            </li>
                                                    <li>
                                <a href="#" class="">Gallery</a>
                            </li>
                                            </ul>
                </li>
            
        
                            <li>
                    <a href="#" class="">Franchising</a>
                </li>
            
            </ul>
</nav>
                    
                </div>
                <div class="col-3 col_right">
                    <a href="" class="green_radius_btn">Book Now</a>
                    <a href="#" class="user_header"></a>
                </div>
            </div>
        </div>
    </div>

    







<div class="blue_header">
    <div class="container">

            	<div class="row">
		<div class="col-6 col_left">
			<a class="header_address" href="#">Hoboken, NJ</a>
			<a class="header_tel" href="tel:(201) 555-5555">
				<img src="../..//img/icons/header_phone.svg">
				(201) 555-5555</a>
		</div>
		<div class="col-6 col_right">
			<form action="#">
				<label>Change location:</label>
				<input placeholder="Postal / Zip Code" type="text">
				<input type="submit" value="Go!">
			</form>
		</div>
	</div>


    

	
    </div>
</div>



        
</header>
<!--/HEADER-->
