

<header class="mobile_header">
    <div class="top_menu_mobile">
        <div class="container">
            <button aria-controls="navigation" aria-label="Menu" class="hamburger hamburger--elastic" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <a class="header_logo_mobile" href="[object Object]"><img class="img-fluid" src="../..//img/main_logo.png"></a>
            <a class="user_header_mobile" href="#"><img class="img-fluid" src="../..//img/icons/header_user.svg"></a>
        </div>
    </div>
    <div class="left_show_menu">
        <div class="white_content">
            <i aria-hidden="true" class="fa fa-arrow-right left_menu_hide"></i>
            <a class="green_radius_btn" href="">Book Now</a>
            
			
<nav>
    <ul>
        
                            <li>
                    <a href="#how" class="active">How it Works</a>
                </li>
            
        
                            <li>
                    <span>
                        EcoPure Advantage
                        <i aria-hidden="true" class="fa fa-angle-down"></i>
                    </span>
                    <ul class="sub-menu-mobile">
                                                    <li>
                                <a href="#" class="">Why EcoPure Home?</a>
                            </li>
                                                    <li>
                                <a href="#" class="">Technology</a>
                            </li>
                                                    <li>
                                <a href="#" class="">EcoPure vs. Traditional Cleaning</a>
                            </li>
                                                    <li>
                                <a href="#" class="">Aromatherapy</a>
                            </li>
                                                    <li>
                                <a href="#" class="">Gallery</a>
                            </li>
                                            </ul>
                </li>
            
        
                            <li>
                    <a href="#" class="">Franchising</a>
                </li>
            
        
                            <li>
                    <a href="#" class="">Property Managers</a>
                </li>
            
            </ul>
</nav>

							<form action="#">
					<label>Change location:</label>
					<input placeholder="Postal / Zip Code" type="text">
					<input type="submit" value="Go!">
				</form>
			
            
							
<nav class="bottom_mobile_nav">
	<ul>
		
							<li>
					<a href="#" class="">About</a>
				</li>
			
		
							<li>
					<span>
						Services
						<i aria-hidden="true" class="fa fa-angle-down"></i>
					</span>
					<ul class="bottom-sub-menu-mobile">
													<li>
								<a href="#" class="">Apartment Cleaning</a>
							</li>
													<li>
								<a href="#" class="">House Cleaning</a>
							</li>
													<li>
								<a href="#" class="">Move-Out Cleaning</a>
							</li>
													<li>
								<a href="#" class="">Carpet Cleaning</a>
							</li>
													<li>
								<a href="#" class="">Commercial & Office Cleaning</a>
							</li>
											</ul>
				</li>
			
		
							<li>
					<a href="#" class="">Rates</a>
				</li>
			
		
							<li>
					<a href="#" class="">Areas We Serve</a>
				</li>
			
			</ul>
</nav>
			
        </div>
    </div>
</header>
